# System
.pytest_cache/
__pycache__/
.DS_Store
Thumbs.db
.vscode/

# Environments
.env.production
.env
.venv
venv/

# Data base
*.db-journal
*.grist
*.sql
*.db

# Logs
*.log

# For me / for dev
_*
*me
*me.*
*tmp*
*tmp.*
*archive

# Obsisidan
.obsidian/
.airsync/conflicts/
